*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 44px;
}
ul{
    list-style-type: none;
}
li{
    font-size: 18px;
}